<?php 
	$this->headTitle('登录');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/user/login.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/recaptcha/recaptcha_ajax.js', 'text/javascript' );
?>
<?php 
	if (isset($this->error))
	{
?>
<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	用户名或密码错误
</div>
<?php 
	}
?>
<form id="login-form" class="password-form" action="." method="post">
	<div class="form-group">
		<label>用户名：</label>
		<input class="form-control" type="text" name="username" />
	</div>
	<div class="form-group">
		<label>密码：</label>
		<input class="form-control" type="password" name="password" placeholder="或者点击此处，然后刷卡" />
	</div>
	<div class="form-group">
		<input class="form-control" type="submit" 
			value="登录"
		/>
	</div>
</form>
<!-- /.modal -->
<?php // require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
</script>