<h1>
	欢迎使用！
</h1>
<p>
	如果您的浏览器没有自动跳转到首页，请点击
	<a href="<?php echo $this->url('home'); ?>">
		这里
	</a>
	。
</p>
<script type="text/javascript">
	// window.location.href = '<?php echo $this->url('home'); ?>';
</script>
	