#fault_div
{
	height: 500px;
	width: 300px;
	position: fixed;
	top: 100px;
	right: -300px;
	background-color: #FFF;
	border-style: solid;
	border-color: #555;
	border-radius: 10px;
	border-width: 1px;
	padding: 30px;
}

#fault_div > div.fault_div_wrapper
{
	height: 438px;
	overflow-y: scroll;
}

#fault_div ul
{
	padding-left: 0;
}

#fault_div ul > li
{
	display: block;
}

#ticket_form textarea[name='solved_fault']
{
	height: 200px;
}