<?php echo $this->doctype(); ?>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<?php echo $this->headTitle()->setSeparator(' - ')->setAutoEscape(false) ?>

		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
		
		<!-- Le styles -->
		<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
						->prependStylesheet($this->basePath() . '/css/ticket/ticket_print.css', 'all')
						->prependStylesheet($this->basePath() . '/css/style.css', 'all')
						->prependStylesheet($this->basePath() . '/css/common.css', 'all')
						->prependStylesheet($this->basePath() . '/css/bootstrap.min.css', 'all') ?>

		<!-- Scripts -->
		<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
									  ->prependFile($this->basePath() . '/js/bootstrap.min.js')
									  ->prependFile($this->basePath() . '/js/jquery.min.js')
		                              ->prependFile($this->basepath() . '/js/html2pdf.bundle.min.js'); ?>
									  
		<?php echo $this->headTitle('派工单信息'); ?>
		
		<script type="text/javascript">
			$(document).ready(function()
			{
				var element = document.getElementById('element-to-print');
				html2pdf(element);
			});
		</script>
	</head>
	<body id="element-to-print">
		<h4 class="text-center print-title">烟台友林工程机械派工单</h4>
		<div style="float:left; width: 40%">
			<p class="ticket_id_label text-left">制单时间：<?php echo $this->ticket['submit_date']; ?></p>
		</div>
		<div style="float:right; width: 40%">
			<p class="ticket_id_label text-right">销货单号：　　　　　　　派工单号：<?php printf("%06d", $this->ticket['id']); ?></p>
		</div>
		<div class="clr"></div>
		<table class="data_table_print">
			<thead>
				<tr>
					<th width="10%"></th>
					<th width="15%"></th>
					<th width="10%"></th>
					<th width="15%"></th>
					<th width="10%"></th>
					<th width="15%"></th>
					<th width="10%"></th>
					<th width="15%"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>客户</td>
					<td><?php echo htmlspecialchars($this->ticket['customer_name']); ?></td>
					<td>联系人</td>
					<td><?php echo htmlspecialchars($this->ticket['contact']); ?></td>
					<td>联系电话</td>
					<td><?php echo htmlspecialchars($this->ticket['phone']); ?></td>
					<td>机型</td>
					<td><?php echo $this->ticket['machine_model']; ?></td>
				</tr>
				<tr>
					<td>维修地址</td>
					<td colspan="3"><?php echo $this->ticket['address']; ?></td>
					<td>车辆</td>
					<td><?php echo htmlspecialchars($this->service_truck_list[$this->ticket['truck']]); ?></td>
					<td>路程</td>
					<td><?php echo htmlspecialchars($this->ticket['distance']); ?></td>
				</tr>
				<tr class="tr_xlarge">
					<td>故障及维修项目</td>
					<td colspan="5"><?php echo htmlspecialchars($this->ticket['solved_fault']); ?></td>
					<td>工时</td>
					<td><?php echo $this->ticket['working_hour'] / 10; ?></td>
				</tr>
				<tr>
					<td>备注</td>
					<td colspan="5"><?php echo htmlspecialchars($this->ticket['comment']); ?></td>
					<td>维修时设备工作小时</td>
					<td><?php echo htmlspecialchars($this->ticket['machine_worked_hour']); ?></td>
				</tr>
				<tr>
					<td>材料费</td>
					<td></td>
					<td>工时费</td>
					<td><?php echo $this->ticket['amount_servicefee_working'] / 100; ?></td>
					<td>车辆费</td>
					<td><?php echo $this->ticket['amount_servicefee_truck'] / 100; ?></td>
					<td>总计</td>
					<td><?php echo ($this->ticket['amount_servicefee_working'] + $this->ticket['amount_servicefee_truck']) / 100; ?></td>
				</tr>
				<tr>
					<td colspan="8">
						您对我们的工作的建议或意见：<br>
						客户确认签字：
					</td>
				</tr>
				<tr>
					<td colspan="2">制单人:</td>
					<td colspan="2">服务人员(<?php echo htmlspecialchars($this->ticket['attendant_name']); ?>):</td>
					<td>出发时间</td>
					<td><p>&nbsp;</p></td>
					<td>完成时间</td>
					<td><p>&nbsp;</p></td>
				</tr>
				<tr>
					<td colspan="2" style="border-right: none;"><p>服务调度：&nbsp;</p></td>
					<td colspan="2" style="border-left: none;"><p>日期：&nbsp;</p></td>
					<td colspan="2" style="border-right: none;"><p>服务经理：&nbsp;</p></td>
					<td colspan="2" style="border-left: none;"><p>日期：&nbsp;</p></td>
				</tr>
				<tr>
					<td colspan="8"><p>回访情况：<br /><br /></p><p class="text-right">回访人及日期：　　　　　　　　　　　　　　</p></td>
				</tr>
			</tbody>
		</table>
		<p>
	</body>
</html>
