<?php 
	$this->headTitle('故障列表');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/ticket/fault_query.js', 'text/javascript');
?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: add_ticket_fault();">
		增加故障
	</a>
</div>
<div class="horizontal-divider"></div>
<div class="ticket_fault-table-wrapper">
	<h3 class="table-caption"><strong>故障列表</strong></h3>
	<table class='table ticket_fault-score-item-table'>
		<thead>
			<tr>
				<th width="30%">
					名称
				</th>
				<th width="20%">
					工时
				</th>
				<th width="20%">
					操作
				</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->ticket_fault_list as $ticket_fault)
			{
		?>
			<tr>
				<td><?php echo htmlspecialchars($ticket_fault['name']); ?></td>
				<td><?php echo htmlspecialchars($ticket_fault['working_hour'] / 10); ?></td>
				<td>
					<a class="btn-link" href="#" onClick="javascript: modify_ticket_fault(<?php echo $ticket_fault['id']; ?>);">
						修改
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: del_ticket_fault(<?php echo $ticket_fault['id']; ?>);">
						删除
					</a>&nbsp;
				</td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<div class="horizontal-divider"></div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>