<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/ticket/fault_maintain.js', 'text/javascript' );
	
	$this->headTitle('故障信息');
	
	$t = $this->ticket_fault['id'] === 'new' ? false : true;
?>
<div class="row">
	<form id="ticket_fault_form" action="../../fault/create/" method="post" class="form col-md-6 col-md-offset-3">
		<input type="hidden" name="id" value="<?php echo $this->ticket_fault['id']; ?>" />
		<table id="ticket_fault-table" class="table">
			<thead>
				<tr>
					<th width="30%">属性</th>
					<th width="70%">值</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>名称</td>
					<td><input type="text" name="name"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->ticket_fault['name']); ?>" /></td>
				</tr>
				<tr>
					<td>工时</td>
					<td><input type="text" name="working_hour"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->ticket_fault['working_hour'] / 10); ?>" /></td>
				</tr>
				<tr>
					<td colspan="2"><a class="form-control btn btn-default"
						name="submit">提交</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$ticket_fault_id = <?php echo $this->ticket_fault['id']; ?>;
</script>