<?php echo $this->doctype(); ?>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<?php echo $this->headTitle()->setSeparator(' - ')->setAutoEscape(false) ?>

		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

		<!-- Le styles -->
		<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
						->prependStylesheet($this->basePath() . '/css/layout/layout.css')
						->prependStylesheet($this->basePath() . '/css/style.css')
						->prependStylesheet($this->basePath() . '/css/common.css?v=1.0.018')
						->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

		<!-- Scripts -->
		<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
									  ->prependFile($this->basePath() . '/js/layout/user.js')
									  ->prependFile($this->basePath() . '/js/bootstrap.min.js')
									  ->prependFile($this->basePath() . '/js/jquery.min.js') ?>

		<script type="text/javascript">
		
			$base_path = "<?php echo $this->basePath(); ?>";
			$navbar_active = "<?php echo $this->navbar_active; ?>";
			
			$(document).ready(function()
			{
				$("#navbar > ul > li[name='" + $navbar_active + "']").addClass("active").removeClass("hidden");
			});
			
		</script>
		
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="<?php echo $this->url('home') ?>">
						烟台友林工程机械有限公司
					</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse bs-navbar-collapse">
					<ul class="nav navbar-nav">
						<li name="bonus" class="authenticated"><a href="<?php echo $this->url('bonus/default', array('controller' => 'index', 'action' => 'index', 'id' => '')); ?>">
							提成管理
						</a></li>
						<li name="ticket" class="authenticated"><a href="<?php echo $this->url('ticket/default', array('controller' => 'query', 'action' => 'index', 'id' => '')); ?>">
							派工管理
						</a></li>
						<li name="ticket_fault" class="authenticated"><a href="<?php echo $this->url('ticket/default', array('controller' => 'fault', 'action' => 'all', 'id' => '')); ?>">
							故障管理
						</a></li>
						<li name="attendant" class="authenticated"><a href="<?php echo $this->url('attendant/default', array('controller' => 'query', 'action' => 'all', 'id' => '')); ?>">
							服务人员管理
						</a></li>
						<li name="customer" class="authenticated"><a href="<?php echo $this->url('customer/default', array('controller' => 'query', 'action' => 'all', 'id' => '')); ?>">
							客户管理
						</a></li>
						<li name="draft" class="authenticated"><a href="<?php echo $this->url('draft/default', array('controller' => 'query', 'action' => 'index')); ?>">
							配件销售
						</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li name="login" class="not_authenticated"><a href="<?php echo $this->url('authentication/default', array('controller' => 'log', 'action' => 'out')); ?>">
							登录
						</a></li>
						<li class="authenticated"><a href="<?php echo $this->url('authentication/default', array('controller' => 'log', 'action' => 'out')); ?>">
							退出登录
						</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		<div class="container">
			<?php echo $this->content; ?>
			<hr>
			<?php require __DIR__ . '/../../../../Libraries/view/include/footer.php'; ?>
		</div> <!-- /container -->
		<?php echo $this->inlineScript() ?>
	</body>
</html>
