<?php
    $this->headScript()->prependFile($this->basePath() . '/js/bonus/index.js')
?>
<div id="query-form" class="col-sm-6">
	<label>查看提成</label>
	<input type="text" class="form-control" name="date" />
	<input type="submit" class="form-control" />
</div>
<div id="ratio-query-form" class="col-sm-6">
	<label>查看提成比例</label>
	<input type="text" class="form-control" name="date" />
	<input type="submit" class="form-control" />
</div>