<?php 
	$this->headTitle('服务人员列表');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/attendant/query.js', 'text/javascript');
?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: add_attendant();">
		增加新服务人员
	</a>
</div>
<div class="horizontal-divider"></div>
<div class="attendant-table-wrapper">
	<h3 class="table-caption"><strong>服务人员</strong></h3>
	<table class='table attendant-score-item-table'>
		<thead>
			<tr>
				<th width="30%">
					姓名
				</th>
				<th width="20%">
					操作
				</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->attendant_list as $attendant)
			{
		?>
			<tr>
				<td><?php echo htmlspecialchars($attendant['name']); ?></td>
				<td>
					<a class="btn-link" href="#" onClick="javascript: modify_attendant(<?php echo $attendant['id']; ?>);">
						修改
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: del_attendant(<?php echo $attendant['id']; ?>);">
						删除
					</a>&nbsp;
				</td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<div class="horizontal-divider"></div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>