<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/attendant/maintain.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('客户信息');
	
	$t = $this->attendant['id'] === 'new' ? false : true;
?>
<div class="row">
	<form id="attendant_form" action="../../maintain/create/" method="post" class="form col-md-6 col-md-offset-3">
		<input type="hidden" name="id" value="<?php echo $this->attendant['id']; ?>" />
		<table id="attendant-table" class="table">
			<thead>
				<tr>
					<th width="30%">属性</th>
					<th width="70%">值</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>姓名</td>
					<td><input type="text" name="name"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->attendant['name']); ?>" /></td>
				</tr>
				<tr>
					<td colspan="2"><a class="form-control btn btn-default"
						name="submit">提交</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$attendant_id = <?php echo $this->attendant['id']; ?>;
</script>