<?php
	$this->headTitle('友林机械服务支持系统');
?>	
<div class="jumbotron">
<h1>欢迎使用</h1>
<h2>我们新启用的服务支持系统</h2>
<p>请登录后使用</p>
<p><a class="btn btn-primary btn-lg" role="button" href="<?php echo $this->url('authentication/default', array('controller' => 'log', 'action' => 'out')); ?>">登录</a></p>
</div>