@charset "utf-8";
/* CSS Document */

* {
	outline:none !important;
	-moz-outline: none !important;
}

.clear {
	clear: both !important;
}

.hidden {
	display: none !important;
}

a:hover {
	text-decoration: none;
}

.table td.text-right, .table th.text-right
{
	text-align: right;
}

.table td.text-center, .table th.text-center
{
	text-align: center;
}

/* loading bar */

#operatingDialog div[name="loadingDiv"] > div[name="loadingBar"]
{
	width:220px;
	height:19px;
	background-image: url(img/ajax-loading.gif);
	background-position:0 0;
}

/* print */

.print { display: none !important; } 

#printDiv { padding: 1%; top: -50px; }

.data_table_print
{
	width: 100%;
}

.data_table_print span
{
	border: none;
	padding-top: 1px;
	padding-bottom: 1px;
}

.data_table_print th, .data_table_print td
{
	border:solid 1px;
}

@media print
{
	body
	{
		font-size: 10px !important;
		min-width: 1px !important;
		background-color: #FFF !important;
		padding: 0;
	}
	
	.noprint, .modal { display: none !important; }
	.print
	{
		display: block !important;
		position: relative;
	}
}

.print-invisible { visibility: hidden; }
	
.print-title
{
	font-family: 华文行楷;
	font-size: 2em;
	line-height: 1.5em;
	margin-top: 0;
}

.print-footer
{
	position: absolute;
	bottom: 0;
}