<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('配件销售信息');
?>
<div class="panel panel-default col-md-offset-2 col-md-4">
	<div class="panel-heading">
		<h3 class="panel-title">汇总查询</h3>
	</div>
	<div class="panel-body">
		<form action="../query/query" id="search_form">
			<label>开始时间</label>
			<input class="form-control" type="date" name="startDate" value="<?php echo date('Y-m-d', strtotime('-1 month')); ?>" />
			<label>结束时间</label>
			<input class="form-control" type="date" name="endDate" value="<?php echo date('Y-m-d'); ?>" />
			<label></label>
			<input class="form-control" type="submit"
				value="查看"
			/>
		</form>
		<label></label>
	</div>
</div>
<div class="panel panel-default col-md-offset-2 col-md-4">
	<div class="panel-heading">
		<h3 class="panel-title">列出出库单</h3>
	</div>
	<div class="panel-body">
		<form action="../query/warrantList" id="search_form">
			<label>开始时间</label>
			<input class="form-control" type="month" name="date" value="<?php echo date('Y-m', strtotime('-1 month')); ?>" />
			<label></label>
			<input class="form-control" type="submit"
				value="查看"
			/>
		</form>
		<label></label>
	</div>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>