<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('配件销售信息');
	
	function printAvgPrice($price, $num_sold)
	{
	    if ($num_sold > 0)
	    {
	        $avg_price = round($price / $num_sold);
	        $left_over = intval($price - (int)$avg_price * $num_sold);
	    }
	    else
	    {
	        $avg_price = 0;
	        $left_over = 0;
	    }
	    if ($left_over !== 0) {
	    ?>
	    <span data-toggle="tooltip" data-placement="top" title="<?php 
	        echo '本平均值为取整（到分）后的结果，原值：'.number_format($price / $num_sold / 100, 5);
	    ?>">
	        <?php 
	            echo number_format($avg_price / 100, 2);
	        ?> &#8505;
	    </span> 
	        <?php
	    } else {
	        echo number_format($avg_price / 100, 2);
	    }
	}
?>
<div class="draft-table-wrapper">
	<h3 class="table-caption"><strong>售出配件信息</strong></h3>
	<table class='table draft-item-table'>
		<thead>
		    <tr>
		        <th>|-</th>
		        <th colspan="1" class="text-center">配件信息</th>
		        <th class="text-right">-|</th>
		        <th>|-</th>
		        <th colspan="4" class="text-center">配件当前信息</th>
		        <th class="text-right">-|</th>
		        <th>|-</th>
		        <th colspan="3" class="text-center">配件销售信息</th>
		        <th class="text-right">-|</th>
		    </tr>
			<tr>
			    <th class="text-center">ID</th>
				<th class="text-center">名称</th>
				<th class="text-center">单位</th>
				<th class="text-center">价格1</th>
				<th class="text-center">价格2</th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为本配件目前剩余存货的成本，为每次进货时加权平均的结果；如果存货为零，此项目应该为零"
				>当前成本</a></th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为本配件目前剩余存货的数量"
				>当前数量</a></th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为本配件目前剩余可用存货的数量（如果一个配件被一个出库单占用，它会暂时不可用，但会在被退件后恢复可用）"
				>可用数量</a></th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内本配件销售的平均标注价格"
				>标记售价</a></th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内本配件的销售数量，格式为   售出数量（总取货数量 - 总退回数量）"
				>售出数量</a></th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内本配件销售的平均成交价格"
				>平均售价</a></th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内本配件销售总额"
				>销售总额</a></th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内本配件销售的平均成本（每次销售时的成本总和除以售出数量）"
				>平均成本</a></th>
				<th class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内本配件销售的成本总额"
				>成本总额</a></th>
			</tr>
		</thead>
		<tbody>
		<?php
		    $total_sale = 0;
		    $total_cost = 0;
			foreach ($this->draft_sold_list as $draft)
			{
			    $num_sold = $draft['num'] - $draft['num_return'];
			    $num_curr = $draft['numAll'];
		?>
			<tr>
				<td><?php echo $draft['ID']; ?></td>
				<td><?php echo htmlspecialchars($draft['name'].' -> '.$draft['specification'].' -> '.$draft['hiddenSpecification']); ?></td>
				<td><?php echo htmlspecialchars($draft['unit']); ?></td>
				<td class="text-right"><?php echo number_format($draft['priceOutH'] / 100, 2); ?></td>
				<td class="text-right"><?php echo number_format($draft['priceOutL'] / 100, 2); ?></td>
				<td class="text-right"><?php
				    if ($num_curr > 0)
				        echo number_format($draft['value'] / 100 / $draft['numAll'], 2);
				    else
				        echo '0';
				?></td>
				<td class="text-right"><?php echo $num_curr; ?></td>
				<td class="text-right"><?php echo $draft['numAccessiable']; ?></td>
				<td class="text-right"><?php
				    if ($num_sold > 0)
				    {
				        echo number_format($draft['sold_price'] / 100 / $num_sold, 2);
				    }
				    else
				        echo '0';
				?></td>
				<td class="text-right"><?php
				    echo $num_sold;
				?></td>
				<td class="text-right"><?php
				    printAvgPrice($draft['ori_price'], $num_sold);
				?></td>
				<td class="text-right"><?php
				    $total_sale += $draft['ori_price'];
				    echo number_format($draft['ori_price'] / 100, 2);
				?></td>
				<td class="text-right"><?php
				    printAvgPrice($draft['cost_price'], $num_sold);
				?></td>
				<td class="text-right"><?php
				    $total_cost += $draft['cost_price'];
				    echo number_format($draft['cost_price'] / 100, 2);
				?></td>
			</tr>
		<?php 
			}
		?>
		</tbody>
		<?php 
		  // do some calculation of the total
		  $amount_total_from_warrant = 0;
		  $amount_cost_from_warrant = 0;
		  $amount_total_from_warrant_after_discount = 0;
		  $total_inconsistent = false;
		  $cost_inconsistent = false;
          if (isset($this->warrant_list)) {
              foreach ($this->warrant_list as $warrant) {
                  $amount_cost_from_warrant += $warrant['amountCost'];
                  $amount_total_from_warrant += $warrant['amountTotal'];
                  if ($warrant['amountPermit'] !== null) {
                      $amount_total_from_warrant_after_discount += $warrant['amountPermit'];
                  } else {
                      $amount_total_from_warrant_after_discount += $warrant['amountTotal'];
                  }
              }
              if ($amount_cost_from_warrant !== $total_cost) {
                  $total_inconsistent = true;
              }
              if ($amount_total_from_warrant !== $total_sale) {
                  $cost_inconsistent = true;
              }
          }
		?>
		<thead>
			<tr>
		        <th>|-</th>
		        <th colspan="6" class="text-center">汇总</th>
		        <th class="text-right">-|</th>
				<th colspan="2" class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内所有配件销售的销售总和"
				>售价总和</a></th>
				<th colspan="2" class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内所有销售的总额（折让金额会被去除）"
				>销售总和（折让后）</a></th>
				<th colspan="2" class="text-center"><a data-toggle="tooltip" data-placement="top"
				    title="此列为您选择的时间段内所有配件销售的成本总和"
				>成本总和</a></th>	
			</tr>
		</thead>
		<tbody>
			<tr>
		        <td>|-</td>
		        <td colspan="6" class="text-center"></td>
		        <td class="text-right">-|</td>
		        <?php 
		        if (!$total_inconsistent && !$cost_inconsistent) {
                ?>
		            <td colspan="2" class="text-center"><?php
		            echo number_format($total_sale / 100, 2);
		            ?></td>
    				<td colspan="2" class="text-center"><?php
                        if (isset($this->warrant_list)) {
                            echo number_format($amount_total_from_warrant_after_discount / 100, 2);
                        } else {
							echo 'N/A';
						}
    				?></td>
    				<td colspan="2" class="text-center"><?php
        				echo number_format($total_cost / 100, 2);
        			?></td>
        		<?php 
		        } else {
		        ?>
		          <td colspan="6" class="text-center"><a data-toggle="tooltip" data-placement="top" class=".text-warning" title="<?php
		              echo '从配件统计的金额与从出库单统计的金额不符，请刷新。'.
		  		              '从配件统计的销售额为：'.
		  		              number_format($total_sale / 100, 2).
		  		              '，从出库单统计的销售额为：'.
		  		              number_format($amount_total_from_warrant / 100, 2).
		  		              '，从配件统计的成本为：'.
		  		              number_format($total_cost / 100, 2).
		  		              '，从出库单统计的成本为：'.
		  		              number_format($amount_cost_from_warrant / 100, 2).
		  		              '。'
    			  ?>">金额不匹配，请注意</a></td>
		        <?php 
		        }
		        ?>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
$(function(){
	$('[data-toggle="tooltip"]').tooltip()
});
</script>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>