<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/draft/warrant-list.js?v=3', 'text/javascript' );
	
	$this->headTitle('配件销售信息');
?>
<div class="draft-table-wrapper">
	<h3 class="table-caption"><strong>出库单</strong></h3>
	<table class='table draft-item-table'>
		<thead>
		    <tr>
		        <th>|-</th>
		        <th class="text-center"><a class="select-all" href="#">全选</a></th>
		        <th class="text-center"><a class="select-none" href="#">全取消</a></th>
		        <th class="text-center"><a class="select-all-sale" href="#">全选销货</a></th>
		        <th class="text-center"><a class="select-all-sale-w-w" href="#">全选有</a></th>
		        <th class="text-center"><a class="select-all-sale-wo-w" href="#">全选无</a></th>
		        <th class="text-center"><a class="select-all-service" href="#">全选三包</a></th>
		        <th class="text-center"><a class="select-all-gift" href="#">全选折让</a></th>
		        <th class="text-center"><a class="select-all-adjustment" href="#">全选调整</a></th>
		        <th class="text-right">-|</th>
		        <th>|-</th>
		        <th>
        			<button class="form-control" id="submit">查看</button>
		        </th>
		        <th class="text-right">-|</th>
		    </tr>
        </thead>
    </table>
	<table id="warrant-list-table" class='table draft-item-table'>
		<thead>
			<tr>
			    <th class="text-center">选择</th>
			    <th class="text-center">单号</th>
				<th class="text-center">销货时间</th>
				<th class="text-center">提交时间</th>
				<th class="text-center">类型</th>
				<th class="text-center">客户</th>
				<th class="text-center">服务人员</th>
				<th class="text-center">成本</th>
				<th class="text-center">销售金额</th>
				<th class="text-center">服务费金额</th>
				<th class="text-center">折让后金额</th>
			</tr>
		</thead>
		<tbody>
		<?php
		    function isSale($w) {
		        if ($w["type"] == 0 || $w["type"] == 1) {
		            return true;
		        } else {
		            return false;
		        }
		    }
		    function isSaleWithWarranty($w) {
		        if ($w["type"] == 0) {
		            return true;
		        } else {
		            return false;
		        }
		    }
		    function isSaleWithoutWarranty($w) {
		        if ($w["type"] == 1) {
		            return true;
		        } else {
		            return false;
		        }
		    }
		    function isService($w) {
		        if ($w["type"] == 2) {
		            return true;
		        } else {
		            return false;
		        }
		    }
		    function isGift($w) {
		        if ($w["type"] == 4) {
		            return true;
		        } else {
		            return false;
		        }
		    }
		    function isAdjustment($w) {
		        if ($w["type"] == 6) {
		            return true;
		        } else {
		            return false;
		        }
		    }
		    function typeName($type) {
		        switch ($type) {
		            case 0:
		                return "有";
		            case 1:
		                return "无";
		            case 2: 
		                return "三包";
		            case 4:
		                return "折让";
		            case 6:
		                return "调整";
		        }
		        return "错误的类型：" + $type;
		    }
			foreach ($this->out_warrant_list as $warrant)
			{
		?>
			<tr>
			    <td>
    			    <input
    			         type="checkbox"
    			         name="warrant_id"
    			         value="<?php echo $warrant['ID']; ?>"
    			         id="warrant_checkbox_<?php echo $warrant["ID"] ?>"
    			         class="<?php
    			             if (isSale($warrant))
			                     echo 'warrant_sale ';
    			             if (isSaleWithWarranty($warrant))
    			                 echo 'warrant_sale_w_w';
    			             if (isSaleWithoutWarranty($warrant))
    			                 echo 'warrant_sale_wo_w';
    			             if (isService($warrant))
    			                 echo 'warrant_service ';
    			             if (isGift($warrant))
    			                 echo 'warrant_gift ';
    			             if (isAdjustment($warrant))
    			                 echo 'warrant_adjustment ';
    			         ?>"
    			         checked
    			    />
                </td>
				<td><?php echo $warrant['number']; ?></td>
				<td><?php echo $warrant['submitCustomerPageDate']; ?></td>
				<td><?php echo $warrant['submitDate']; ?></td>
				<td><?php echo typeName($warrant['type']); ?></td>
				<td><?php echo htmlspecialchars($warrant['target_name']); ?></td>
				<td><?php echo htmlspecialchars($warrant['attendant_names']); ?></td>
				<td class="text-right"><?php echo number_format($warrant['amountCost'] / 100); ?></td>
				<td class="text-right"><?php echo number_format($warrant['amountTotal'] / 100); ?></td>
				<td class="text-right"><?php echo number_format($warrant['amountServicefee'] / 100); ?></td>
				<td class="text-right"><?php echo number_format($warrant['amountPermit'] / 100); ?></td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>