<?php 
	$this->headTitle('客户列表');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/customer/query.js', 'text/javascript');
?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: add_customer();">
		增加新客户
	</a>
</div>
<div class="horizontal-divider"></div>
<div class="customer-table-wrapper">
	<h3 class="table-caption"><strong>客户</strong></h3>
	<table class='table customer-score-item-table'>
		<thead>
			<tr>
				<th width="30%">
					姓名
				</th>
				<th width="15%">
					VIP 等级
				</th>
				<th width="15%">
					联系人
				</th>
				<th width="15%">
					电话
				</th>
				<th width="15%">
					车型
				</th>
				<th width="10%">
					操作
				</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->customer_list as $customer)
			{
		?>
			<tr>
				<td><?php echo htmlspecialchars($customer['name']); ?></td>
				<td><?php echo htmlspecialchars($customer['vip_level']); ?></td>
				<td><?php echo htmlspecialchars($customer['contact']); ?></td>
				<td><?php echo htmlspecialchars($customer['phone']); ?></td>
				<td><?php echo htmlspecialchars($customer['machine_model']); ?></td>
				<td>
					<a class="btn-link" href="#" onClick="javascript: modify_customer(<?php echo $customer['id']; ?>);">
						修改
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: del_customer(<?php echo $customer['id']; ?>);">
						删除
					</a>&nbsp;
				</td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<div class="horizontal-divider"></div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>