<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/customer/maintain.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('客户信息');
	
	$t = $this->customer['id'] === 'new' ? false : true;
?>
<div class="row">
	<form id="customer_form" action="../../maintain/create/" method="post" class="form col-md-6 col-md-offset-3">
		<input type="hidden" name="id" value="<?php echo $this->customer['id']; ?>" />
		<table id="customer-table" class="table">
			<thead>
				<tr>
					<th width="30%">Key</th>
					<th width="70%">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>姓名</td>
					<td><input type="text" name="name"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->customer['name']); ?>" /></td>
				</tr>
				<tr>
					<td>VIP等级</td>
					<td><input type="text" name="vip_level" class="form-control"
						value="<?php echo $this->customer['vip_level']; ?>" />
					</td>
				</tr>
				<tr>
					<td>联系人</td>
					<td><input type="text" name="contact" class="form-control"
						value="<?php echo $this->customer['contact']; ?>" />
					</td>
				</tr>
				<tr>
					<td>电话</td>
					<td><input type="text" name="phone" class="form-control"
						value="<?php echo $this->customer['phone']; ?>" />
					</td>
				</tr>
				<tr>
					<td>地址</td>
					<td><input type="text" name="address" class="form-control"
						value="<?php echo $this->customer['address']; ?>" />
					</td>
				</tr>
				<tr>
					<td>路程</td>
					<td><input type="text" name="distance" class="form-control"
						value="<?php echo $this->customer['distance']; ?>" />
					</td>
				</tr>
				<tr>
					<td>车型</td>
					<td><input type="text" name="machine_model" class="form-control"
						value="<?php echo $this->customer['machine_model']; ?>" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><a class="form-control btn btn-default"
						name="submit">提交</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$customer_id = <?php echo $this->customer['id']; ?>;
</script>