<?php 
	$this->headTitle('派工单列表');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/ticket/ticket_query.js', 'text/javascript');
?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: add_ticket();">
		增加新派工单
	</a>
</div>
<div class="horizontal-divider"></div>
<div class="customer-table-wrapper">
	<h3 class="table-caption"><strong>派工单</strong></h3>
	<table class='table customer-score-item-table'>
		<thead>
			<tr>
				<th width="5%">
					单号
				</th>
				<th width="10%">
					状态
				</th>
				<th width="15%">
					客户
				</th>
				<th width="15%">
					服务人员
				</th>
				<th width="10%">
					车辆
				</th>
				<th width="10%">
					工时
				</th>
				<th width="10%">
					时间
				</th>
				<th width="20%">
					操作
				</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->ticket_list as $ticket)
			{
		?>
			<tr>
				<td><?php echo $ticket['id']; ?></td>
				<td><?php 
					switch ($ticket['state']) 
					{ 
						case 0: echo '未完成'; break; 
						case 1: echo '已打印'; break; 
						case 10: echo '完结'; break; 
						case 3: echo '作废'; break; 
						default: echo '不正常'; break;
					}
				?></td>
				<td><?php echo htmlspecialchars($ticket['customer_name']); ?></td>
				<td><?php echo htmlspecialchars($ticket['attendant_name']); ?></td>
				<td><?php echo htmlspecialchars($this->service_truck_list[$ticket['truck']]); ?></td>
				<td><?php echo $ticket['working_hour'] / 10; ?></td>
				<td><?php if (isset($ticket['submit_date'])) echo date('Y-m-d', strtotime($ticket['submit_date'])); else '-' ?></td>
				<td>
					<a class="btn-link" href="#" onClick="javascript: modify_ticket(<?php echo $ticket['id']; ?>);">
						修改
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: print_ticket(<?php echo $ticket['id']; ?>);">
						打印
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: cancel_ticket(<?php echo $ticket['id']; ?>);">
						作废
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: copy_ticket(<?php echo $ticket['id']; ?>);">
						复制
					</a>&nbsp;
				</td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<div class="horizontal-divider"></div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>