<?php 
	$this->headTitle('派工单统计列表');
?>
<div class="customer-table-wrapper">
	<h3 class="table-caption"><strong>派工单</strong></h3>
	<table class='table customer-score-item-table'>
		<thead>
			<tr>
				<th width="15%">
					<?php 
						switch ($this->col_restrict)
						{
							case 1:
								echo '客户姓名';
								break;
							case 2:
								echo '服务人员姓名';
								break;
							case 3:
								echo '车辆';
								break;
						}
					?>
				</th>
				<th width="15%">
					维修总次数
				</th>
				<th width="15%">
					维修总工时数
				</th>
				<th width="10%">
					操作
				</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->ticket_list as $ticket)
			{
		?>
			<tr>
				<td><?php
					if ($this->col_restrict != 3)
						echo $ticket['name']; 
					else
						echo $this->service_truck_list[$ticket['id']];
				?></td>
				<td><?php echo $ticket['count_all']; ?></td>
				<td><?php echo $ticket['sum_working_hour'] / 10; ?></td>
				<td><a class="btn btn-link" href="javascript: open_detail(<?php echo $ticket['id']; ?>);">
					查看
				</a></td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	function open_detail($id)
	{
		window.open("<?php echo '../all/?startDate=' . $this->startDate . '&endDate=' . $this->endDate . '&col_restrict=' . $this->col_restrict . '&col_restrict_id='; ?>" + $id);
	}
</script>
