<?php
	$this->headTitle('派工单');
?>
<div class="panel panel-default col-md-offset-2 col-md-4">
	<div class="panel-heading">
		<h3 class="panel-title">汇总查询</h3>
	</div>
	<div class="panel-body">
		<form action="../collect/" id="search_form">
			<label>开始时间</label>
			<input class="form-control" type="date" name="startDate" value="<?php echo date('Y-m-d', strtotime('-1 month')); ?>" />
			<label>结束时间</label>
			<input class="form-control" type="date" name="endDate" value="<?php echo date('Y-m-d'); ?>" />
			<label>筛选方式时间</label>
			<select class="form-control" name="col_restrict">
				<option value="customer_id">按客户查询</option>
				<option value="attendant_id">按服务人员查询</option>
				<option value="truck">按车辆查询</option>
			</select>
			<label></label>
			<input class="form-control" type="submit"
				value="查看"
			/>
		</form>
		<label></label>
	</div>
</div>
<div class="panel panel-default col-md-offset-1 col-md-4">
	<div class="panel-heading">
		<h3 class="panel-title">单据查询</h3>
	</div>
	<div class="panel-body">
		<form action="../all/" id="query_form">
			<label>开始时间</label>
			<input class="form-control" type="date" name="startDate" value="<?php echo date('Y-m-d', strtotime('-1 month')); ?>" />
			<label>结束时间</label>
			<input class="form-control" type="date" name="endDate" value="<?php echo date('Y-m-d'); ?>" />
			<label></label> <br><br><br><br>
			<input class="form-control" type="submit"
				value="查看"
			/>
		</form>
		<label></label>
	</div>
</div>
