<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/plugins/bootstrap-typeahead.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/ticket/ticket_maintain.js?v=1.0.019', 'text/javascript' );
	
	$this->headLink()
		->prependStylesheet($this->basePath() . '/css/ticket/ticket_one.css?v=1.0.019');
	
	$this->headTitle('派工单信息');
	
	$t = $this->ticket['id'] === 'new' ? false : true;
?>
<div class="row">
	<form id="ticket_form" action="../../maintain/create/" method="post" class="form col-md-6 col-md-offset-3">
		<input type="hidden" name="id" value="<?php echo $this->ticket['id']; ?>" />
		<table id="ticket-table" class="table">
			<thead>
				<tr>
					<th width="30%">属性</th>
					<th width="70%">值</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>客户</td>
					<td>
						<label>姓名：</label>
						<input type="text" name="customer_name"
							class="form-control input-xlarge"
							value="<?php echo htmlspecialchars($this->ticket['customer_name']); ?>" />
						<input type="hidden" name="customer_id" value="<?php echo $this->ticket['customer_id']; ?>" />
						<label>联系人：</label>
						<input type="text" name="contact"
							class="form-control input-xlarge"
							value="<?php echo htmlspecialchars($this->ticket['contact']); ?>" />
						<label>联系电话：</label>
						<input type="text" name="phone"
							class="form-control input-xlarge"
							value="<?php echo htmlspecialchars($this->ticket['phone']); ?>" />
						<label>维修地址：</label>
						<input type="text" name="address"
							class="form-control input-xlarge"
							value="<?php echo htmlspecialchars($this->ticket['address']); ?>" />
						<label>里程</label>
						<input type="text" name="distance"
							class="form-control input-xlarge"
							value="<?php echo htmlspecialchars($this->ticket['distance']); ?>" />
						<label>机型</label>
						<input type="text" name="machine_model"
							class="form-control input-xlarge"
							value="<?php echo htmlspecialchars($this->ticket['machine_model']); ?>" />
					</td>
				</tr>
				<tr>
					<td>服务</td>
					<td>
						<label>服务人员</label>
						<select class="form-control" name="attendant_id">
						<?php 
							foreach ($this->attendant_list as $attendant)
								echo '<option value="' . $attendant['id'] . '">' . $attendant['name'] . '</option>';
						?>
						</select>
						<label>车辆</label>
						<select name="truck"
							class="form-control input-xlarge">
						<?php 
							foreach ($this->service_truck_list as $truck_id => $truck)
							{
								echo '<option value="' . $truck_id . '">' . $truck . '</option>';
							}
						?>
						</select>
					</td>
				</tr>
				<tr>
					<td>故障</td>
					<td>
						<label>故障</label>
						<textarea class="form-control" name="solved_fault"><?php echo $this->ticket['solved_fault']; ?></textarea>
						<label>遗留问题</label>
						<textarea class="form-control" name="remaining_fault"><?php echo $this->ticket['remaining_fault']; ?></textarea>
						<label>工时</label>
						<input type="text" name="working_hour"
							class="form-control input-xlarge"
							value="<?php echo $this->ticket['working_hour'] / 10; ?>" />
					</td>
				</tr>
				<tr>
					<td>备注</td>
					<td><input type="text" name="comment"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->ticket['comment']); ?>" /></td>
				</tr>
				<tr>
					<td>制单时间</td>
					<td><input type="text" readonly
						class="form-control input-xlarge"
						value="<?php echo $this->ticket['submit_date']; ?>" /></td>
				</tr>
				<tr class="submit">
					<td colspan="2"><a class="form-control btn btn-default"
						name="submit">提交</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div id="fault_div">
	<div class="fault_div_wrapper">
		<input id="form_search_input" class="form-control" />
		<ul>
			<?php 
			foreach ($this->ticket_fault_list as $fault)
				echo '<li><a class="btn btn-link">' . $fault['name'] . '</a></li>';
			?>
		</ul>
	</div>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$ticket_id = "<?php echo $this->ticket['id']; ?>";
	$customer_id = "<?php echo $this->ticket['customer_id']; ?>";
	$attendant_id = "<?php echo $this->ticket['attendant_id']; ?>";
	$truck_id = "<?php echo $this->ticket['truck']; ?>";
	$ticket_state = <?php echo $this->ticket['state']; ?>;

	customer_list = [
	<?php 
		foreach ($this->customer_list as $customer)
			echo '{ id : ' . $customer['ID'] . ', name : "' . $customer['name'] . '", contact : "' . $customer['contact'] . '", phone : "' . $customer['phone'] . '", address : "' . $customer['address'] . '", distance : "' . $customer['distance'] . '", machine_model : "' . $customer['machine_model'] . '" }, ';
		echo '{ id : 0, name : "Do no choose this" }';
	?>
	];

	customer_name_list = [];
	for (var i = 0; i < customer_list.length; i++)
		customer_name_list[i] = customer_list[i]['name'];
	
	$(document).ready(function()
	{
		$("#ticket_form select[name='customer_id']").val($customer_id);
		$("#ticket_form select[name='attendant_id']").val($attendant_id);
		$("#ticket_form select[name='truck']").val($truck_id);
	});
</script>