<?php
    $this->headScript()
        ->prependFile($this->basePath() . '/js/jquery.form.js')
        ->prependFile($this->basePath() . '/js/bonus/ratio-maintain.js');
?>
<form id="ratio-form" action="../set/<?php echo $this->time_str; ?>">
    <table class="table">
    	<thead>
    		<tr>
    			<th rowspan="2">类型</th>
    			<th colspan="3">配件</th>
    			<th colspan="3">服务费</th>
    		</tr>
    		<tr>
    			<th>立即回款(%)</th>
    			<th>10日回款(%)</th>
    			<th>每日扣减(%)</th>
    			<th>立即回款(%)</th>
    			<th>10日回款(%)</th>
    			<th>每日扣减(%)</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>高折扣服务*</td>
    			<td colspan="3"><input type="text" class="form-control" name="t_service_ratio_draft" value="<?php echo $this->ratio_list[0]['ratio_draft_normal'] / 100; ?>" /></td>
    			<td colspan="3"><input type="text" class="form-control" name="t_service_ratio_servicefee" value="<?php echo $this->ratio_list[0]['ratio_servicefee_normal'] / 100; ?>"/></td>
    		</tr>
    		<tr>
    			<td>大客户服务</td>
    			<td colspan="3"><input type="text" class="form-control" name="t_vip_ratio_draft" value="<?php echo $this->ratio_list[1]['ratio_draft_normal'] / 100; ?>" /></td>
    			<td colspan="3"><input type="text" class="form-control" name="t_vip_ratio_servicefee" value="<?php echo $this->ratio_list[1]['ratio_servicefee_normal'] / 100; ?>" /></td>
    		</tr>
    		<tr>
    			<td>普通客户服务</td>
    			<td><input type="text" class="form-control" name="t_normal_ratio_draft_imme" value="<?php echo $this->ratio_list[2]['ratio_draft_imme'] / 100; ?>" /></td>
    			<td><input type="text" class="form-control" name="t_normal_ratio_draft_normal" value="<?php echo $this->ratio_list[2]['ratio_draft_normal'] / 100; ?>" /></td>
    			<td><input type="text" class="form-control" name="t_normal_ratio_draft_penalty" value="<?php echo $this->ratio_list[2]['ratio_draft_penalty'] / 100; ?>" /></td>
    			<td><input type="text" class="form-control" name="t_normal_ratio_servicefee_imme" value="<?php echo $this->ratio_list[2]['ratio_servicefee_imme'] / 100; ?>" /></td>
    			<td><input type="text" class="form-control" name="t_normal_ratio_servicefee_normal" value="<?php echo $this->ratio_list[2]['ratio_servicefee_normal'] / 100; ?>" /></td>
    			<td><input type="text" class="form-control" name="t_normal_ratio_servicefee_penalty" value="<?php echo $this->ratio_list[2]['ratio_servicefee_penalty'] / 100; ?>" /></td>
    		</tr>
    		<tr>
    			<td colspan="7">
    			<?php 
    				if ($this->editable)
	    			{
    			?>
                    <input class="form-control" type="submit" />
    			<?php 
	    			} else {
    			?>
    				<span>过去的比例只能查看不能修改</span>
                <?php 
	    			}
                ?>
                </td>
    		</tr>
    	</tbody>
    </table>
</form>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>