<?php 
	$this->headScript()->prependFile($this->basePath() . '/js/bonus/query-all.js')
?>
<script type="text/javascript">
	$time_str = '<?php echo $this->time_str; ?>';
</script>
<table id="all-table" class="table">
	<thead>
		<tr>
			<th>服务人员姓名</th>
			<th>单据数量</th>
			<th>配件提成</th>
			<th>维修费提成</th>
			<th>其它提成</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
<?php 
	foreach ($this->bonus_list as $bonus)
	{
?>
		<tr>
			<td><?php echo $bonus['attendant_name']; ?></td>
			<td><?php echo $bonus['num_bonus']; ?></td>
			<td><?php echo number_format($bonus['bonus_draft'] / 100, 2); ?></td>
			<td><?php echo number_format($bonus['bonus_servicefee'] / 100, 2); ?></td>
			<td><?php echo number_format($bonus['bonus_addition'] / 100, 2); ?></td>
			<td><a href="../one/<?php echo $this->time_str; ?>/<?php echo $bonus['attendant_id']; ?>">查看</a></td>
		</tr>
<?php
	}
?>
		<tr>
			<td colspan="6">
				<button class="form-control" name="recalculate" onClick="javascript: recalculate();">重新计算</button>
			</td>
		</tr>
	</tbody>
</table>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
