<?php 
	$this->headScript()->prependFile($this->basePath() . '/js/bonus/query-one.js?v=1.0.031')
?>
<script type="text/javascript">
	$time_str = '<?php echo $this->time_str; ?>';
	$attendant_id = <?php echo $this->attendant['id']; ?>;
</script>
<h3 id="title"><?php echo $this->attendant['name']; ?> <?php echo substr($time_str, 0, 4) . '年' . substr($time_str, 4, 2) . '月';  ?>提成明细</h3>
<h5 class="text-right"><a href="javascript: print_bonus(); ">打印</a></h5>
<table id="voucher_table" class="table">
	<thead>
		<tr>
			<th>服务单号</th>
			<th>单据类型</th>
			<th>用户姓名</th>
			<th class="text-right">配件金额</th>
			<th class="text-right">服务费金额</th>
			<th class="text-right">交款延后时间</th>
			<th class="text-right">维修人员人数</th>
			<th class="text-right">配件提成*</th>
			<th class="text-right">服务费提成*</th>
		</tr>
	</thead>
	<tbody>
<?php 
	$total_bonus_draft = 0;
	$total_bonus_servicefee = 0;
	
	foreach ($this->bonus_list['warrant'] as $bonus)
	{
		$attendant_num = $bonus['attendant_num'];
		$bonus_draft = floor($bonus['bonus_draft'] / $attendant_num);
		$bonus_servicefee = floor($bonus['bonus_servicefee'] / $attendant_num);
		$total_bonus_draft += $bonus_draft;
		$total_bonus_servicefee += $bonus_servicefee;
		
?>
		<tr>
			<td><?php echo $bonus['warrant_id']; ?></td>
			<td><?php 
				if ($bonus['calculation_type'] === null)
					echo '未计算';
				else
					switch ($bonus['calculation_type'])
					{
						case -1:
							echo '三包维修';
							break;
						case 0:
							echo '高折扣维修';
							break;
						case 1: 
							echo '大客户维修';
							break;
						case 2:
							echo '普通维修';
							break;
					}
			?></td>
			<td><?php echo $bonus['customer_name']; ?></td>
			<td class="text-right"><?php echo number_format($bonus['amount_draft'] / 100, 2); ?></td>
			<td class="text-right"><?php echo number_format($bonus['amount_servicefee'] / 100, 2); ?></td>
			<td class="text-right"><?php echo $bonus['repay_delay']; ?></td>
			<td class="text-right"><?php echo $attendant_num; ?></td>
			<td class="text-right"><?php echo number_format($bonus_draft / 100, 2); ?></td>
			<td class="text-right"><?php echo number_format($bonus_servicefee / 100, 2); ?></td>
		</tr>
<?php
	}
?>
	</tbody>
</table>
<table id="addition_table" class="table">
	<thead>
		<tr>
			<th>金额</th>
			<th>原因</th>
			<th class="noprint">操作</th>
		</tr>
	</thead>
	<tbody>
<?php 
	$total_bonus_addition = 0;
	
	foreach ($this->bonus_list['addition'] as $bonus)
	{
		$total_bonus_addition += $bonus['bonus'];
?>
		<tr class="tr_<?php echo $bonus['id']; ?>">
			<td name="bonus"><?php echo number_format($bonus['bonus'] / 100, 2); ?></td>
			<td name="reason"><?php echo $bonus['reason']; ?></td>
			<td class="noprint">
				<a class="btn-link" href="#" onClick="javascript: modify_addition(<?php echo $bonus['id']; ?>);">
					修改
				</a>&nbsp;
				<a class="btn-link" href="#" onClick="javascript: del_addition(<?php echo $bonus['id']; ?>);">
					删除
				</a>&nbsp;
			</td>
		</tr>
<?php
	}
	if ($this->editable)
	{
?>
		<tr class="noprint">
			<td colspan="3">
				<button class="form-control" onClick="javascript: add_addition(); ">添加</button>
			</td>
		</tr>
<?php 
	}
?>
	</tbody>
</table>
<table id="total_table" class="table">
	<thead>
		<tr>
			<th>配件提成</th>
			<th>维修费提成</th>
			<th>其它提成</th>
			<th>总计</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><?php echo number_format($total_bonus_draft / 100, 2); ?></td>
			<td><?php echo number_format($total_bonus_servicefee / 100, 2); ?></td>
			<td><?php echo number_format($total_bonus_addition / 100, 2); ?></td>
			<th><?php echo number_format(($total_bonus_draft + $total_bonus_servicefee + $total_bonus_addition) / 100, 2); ?></th>
		</tr>
	</tbody>
</table>
<div id="additionDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">
				</h4>
			</div>
			<div class="modal-body">
				<div name="msgDiv">
					<input type="hidden" class="form-control" name="id" />
					<label>提成金额（可为负值）</label><input type="text" class="form-control" name="bonus" />
					<label>备注</label><input type="text" class="form-control" name="reason" />
				</div>
			</div>
			<div class="modal-footer">
				<form class="form-inline">
					<button name="cancel" class="btn" data-dismiss="modal">
						取消
					</button>
					<button name="confirm" class="btn btn-primary">
						确定
					</button>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>